body {
  background: white;
  width: 100vw;
  height: 100vw;
}

.puzzlebox {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  background-color: gray;
  animation: "assemble" 5s linear 1s infinite;
}

.row1 {
  height: 8em;
  max-width: 16em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.row2 {
  height: 8em;
  max-width: 16em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.jigsaw1, .jigsaw2, .jigsaw3, .jigsaw4 {
  width: 6em;
  height: 6em;
  position: relative;
  border-radius: .5em;
  cursor: pointer;
}

.jigsaw1,
.jigsaw1 span {
 background-color: #0284cf; 

}

.jigsaw2,
.jigsaw2 span {
 background-color: #1dddb4; 

}

.jigsaw3,
.jigsaw3 span {
 background-color: #e0b048; 

}

.jigsaw4,
.jigsaw4 span {
 background-color: #d81919; 

}


.jigsaw3 .t, .jigsaw4 .t  {
 width: 2em;
  height: 2em;
  position: absolute;
  top: -1.5em;
  left: 2em;
  border-radius: 4em;
  z-index: 4;
}

.jigsaw1 .r, .jigsaw3 .r {  
  width: 2em;
  height: 2em;
  position: absolute;
  top: 2em;
  left: 5.5em;
  border-radius: 4em;
  z-index: 3;
}

.jigsaw1 .b, .jigsaw2 .b {  
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 4.5em;
  left: 2.2em;
  border-radius: 4em;
  background-color: #fff;
  z-index: 2;
}

.jigsaw2 .l, .jigsaw4 .l { 
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  top: 2.2em;
  left: -.4em;
  border-radius: 4em;
  background-color: #fff;
  z-index: 1;
}

@keyframes assemble {
    
    0% {
      height: 18em;
      width: 18em;
    }
  
    50% {
      height: 16em;
      width: 16em;
     }
  
    100% {
      height: 13em;
      width: 13em;
     }
    }