* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 h1 {
     text-align: center;
     margin: 1em;
 }
 html {
     font-family: sans-serif;
 }
 p {
    padding: 1em;
    font-size: 13pt;
    font-style: italic;
 }
 .wrapper {
     width: 100vw;
     max-width: 1200px;
     height: 130vh;
     margin: 0 auto;
     background-color: rgb(52, 214, 52);
     display: flex;
     justify-content: space-evenly;
     padding: 3em;
 }
 .textbox{
     width: 50vw;
     height: 40vh;
     background-color: greenyellow;
 }
 p.intro::first-letter {
    color: #00b409;
    font-size: xx-large;
    font-family: serif;
  }
  p.intro::first-line {
    color: #00b409;
    font-variant: small-caps;
    font-family: serif;
}