* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
    font-family: serif;
}
.wrapper {
    width: 100vw;
    max-width: 1200px;
    height: 100vw;
    margin: 0 auto;
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    font-family: serif;
    font-size: 20px;
    color: green;
    text-align: center;
    padding: 2vw;
}
.header h1 {
    max-height: 10vw;
}

.galleryitem {
    background-color: blueviolet;
    padding: 2vw;
}

img {
    width: 23vw;
    height: 23vw;
}