* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
p {
    font-size: 11pt;
}
html {
    font-family: serif;
}
.wrapper {
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.gallery1{
    height: 30vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.gallery2{
    height: 30vmax;
    display: flex;
    justify-content: space-evenly;
}
.gallery3{
    height: 30vmax;
    display: flex;
    justify-content: space-evenly;
}

header {
    font-family: serif;
    color: rgb(10, 230, 10);
    text-align: center;
    padding: 5em;
}
.header h1 {
    font-size: clamp(1rem, 10vw, 2rem); 
}
.caption{
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 2rem); 
    color: rgb(12, 12, 190);
}
.galleryitem {
    background-color: rgb(201, 146, 253);
    padding: 1em;
}

.galleryimg {
    width: 24vmin;
}