* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 p {
     font-size: 16pt;
     font-family: 'Vollkorn', serif;
 }
 html {
     font-family: serif;
 }
 .wrapper {
     width: 100vw;
     max-width: 1200px;
     height: 100vh;
     margin: auto;
     background-color: cyan;
 }
 .varfonts{
    line-height: 2em;
    padding: 4em;
    font-size: 4vmin;
 }
#fonts1{
    font-style: normal;
    font-weight: 400;
}
#fonts2{
    font-style: italic;
    font-weight: 400;
}
#fonts3{
    font-style: normal;
    font-weight: 500;
}
#fonts4{
    font-style: italic;
    font-weight: 500;
}
#fonts5{
    font-style: normal;
    font-weight: 700;
}
#fonts6{
    font-style: italic;
    font-weight: 800;
}

